@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

#top-bar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: ;
    background-color:whitesmoke;
}

#button-bar {
    background-color:whitesmoke;
}
