.title {
    display: flex;
    width: fit-content;
    font-size: 100%;
    text-align: center;
    padding: 10px;
}

.lang-swith{
    display: flex;
    max-width: max-content;
    min-width: min-content;
    width: 30%;
}

main h3 {
    font-size: 1.75rem;
    margin: 0;
    display: block;
    text-align: center;
}

.container {
    max-width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 10px;
}

.card header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-bottom: 0.2rem;
}

.card header h3,
.card header input {
    width: 50%;
    font-size: 80%;

}

.card img {
    padding: 1%;
    width: 100%;
    height: auto;
}

.image-container {
    display: grid;
    width: 100%;
    height: 100%; /* Ajusta la altura según tus necesidades */
    grid-template-areas: "overlay";
}

.image-container img {
    grid-area: overlay;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el overlay */
#overlay {
    position: fixed; /* Asegura que el overlay cubra toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    z-index: 9999; /* Asegura que esté por encima de todo el contenido */
    display: none; /* Inicialmente oculto */
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
  }

/* Estilo para el loader */
.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Estilos para el contenido de la página */
.content {
padding: 20px;
margin-top: 20px;
}