main h3 {
    font-size: clamp(11px, 3vw, 20px);
}

.card input {
    font-size: clamp(10px, 3vw, 15px);    
}

@media (max-width: 500px) {
    .card input {
        padding: 0.2rem;
    }
}
/* image superposition*/
.stack {
    display: grid;
    position: relative;
}
.stack-img {
    padding: .25rem;
    position: absolute;
}



/* Estilos para el overlay */
.overlay {
    position: fixed; /* Asegura que el overlay cubra toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    z-index: 9999; /* Asegura que esté por encima de todo el contenido */
    display: none; /* Inicialmente oculto */
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
  }

/* Estilos para el contenido de la página */
.content {
padding: 20px;
margin-top: 20px;
}

/*zoom*/

/* Ícono de lupa */
.zoom-icon {
    display:inline-block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);;
}
  
.zoom-div {
    display: none;
    width: 100%; 
    height: 100%; 
    justify-content: center;
    align-content: center;
}

.image-container:hover+.zoom-div {
    display:block; /* Mostrar ícono de lupa al hacer hover */
}

.image-container:hover .zoom-div {
    display:block; /* Mostrar ícono de lupa al hacer hover */
}

