{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center py-3">
    <button class="btn btn-warning" onclick="process()">{{ language["process"] }}</button>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <header>
                    <h3>{{ language["pre"] }}</h3>
                    <input id="pre-input" for="pre-preview" type="file" accept="image/png, image/jpeg, image/gif"/>    
                </header>
                <img id="pre-preview" src="{{ url_for('static', filename='image/preview_img_2.png') }}">
            </div>
            <div class="card">
                <header>
                    <h3>{{ language["post"] }}</h3>
                    <input id="post-input" for="post-preview" type="file" accept="image/png, image/jpeg, image/gif"/>                
                </header>
                <img class="" id="post-preview" src="{{ url_for('static', filename='image/preview_img_2.png') }}">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <header>
                    <h3>{{ language["output"] }}</h3>
                </header>
                <div id="out-img-container" class="image-container">
                    <img id="output-preview" src="">
                </div>
            </div>
            
            <div class="card d-flex align-items-center justify-content-center">
                <header>
                    <h3>{{ language["settings"] }}</h3>
                </header>
                <table id="setting-t" class="table"> 
                    <tr><td></td><td></td></tr>
                </table>
            </div>

            <div class="card">
                <header>
                    <h3>{{ language["table"] }}</h3>
                </header>
                <table id="count-tbl" class="table"> 
                    <thead>
                        <th>{{language["level"]}}</th>
                        <th>{{language["class"]}}</th>
                    </thead>
                    <tr><td></td><td></td></tr>
                </table>
                
            </div>
        </div>
    </div> 
</div>
{% endblock %}